.title  {
    text-align: center;
}

.crystals{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px;
}
.crystal{
       height: 200px;
    width: 200px;
    background: url(../images/diamond.png) ;
    background-size: 200px 200px;
}